.jumbotron {
  background-image: url("./images/main.jpeg");
  background-size: cover;
  height: 500px;
}

body {
  margin-bottom: 60px;
  background-color: whitesmoke;
}

.menu {
  background-color: whitesmoke;
}

.title {
  font-family: "Cinzel", serif;
}

a:hover {
  font-weight: bolder;
}

a:visited {
  color: black;
}

.navbar-brand {
  color: white;
}

.fa-home {
  color: white;
}

.menu-item {
  font-family: "Fjalla One", sans-serif;
}
